<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.mackan.beaconstore">

    <application
        android:name=".BeaconApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="pl.mackan.beaconstore.activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="pl.mackan.beaconstore.activities.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name="pl.mackan.beaconstore.activities.ProfileActivity">
        </activity>
        <activity android:name="pl.mackan.beaconstore.activities.ProductsActivity">
        </activity>
        <activity android:name="pl.mackan.beaconstore.activities.ProductDetailsActivity">
        </activity>
        <activity android:name="pl.mackan.beaconstore.activities.CartActivity">
        </activity>
    </application>

</manifest>